<form method="get">
    <label for="type">열차종별:</label>
    <select name="type" id="type">
        <option value="">-- 전체 --</option>
        <option value="KTX" {% if request.GET.type == "KTX" %}selected{% endif %}>KTX</option>
        <option value="ITX" {% if request.GET.type == "ITX" %}selected{% endif %}>ITX</option>
        <option value="무궁화호" {% if request.GET.type == "무궁화호" %}selected{% endif %}>무궁화호</option>
        <option value="새마을호" {% if request.GET.type == "새마을호" %}selected{% endif %}>새마을호</option>
    </select>

    <label for="destination">종착역:</label>
    <select name="destination" id="destination">
        <option value="">-- 전체 --</option>
        <option value="서울" {% if request.GET.destination == "서울" %}selected{% endif %}>서울</option>
        <option value="용산" {% if request.GET.destination == "용산" %}selected{% endif %}>용산</option>
    </select>
    <input type="text" name="number" placeholder="열차번호" value="{% if request.GET.number %}{{request.GET.number}}{%endif%}">
    <input type="text" name="time" placeholder="출발시간" value="{% if request.GET.time %}{{request.GET.time}}{%endif%}">
    <button type="submit">필터 적용</button>
</form>

<table border="1">
    <tr>
        <th>열차번호</th>
        <th>열차종별</th>
        <th>종착역</th>
        <!-- <th>도착 시간</th> -->
        <th>출발 시간</th>
        <th>홈</th>
        <th>비고</th>
    </tr>
    {% for train in trains %}
    <tr>
        <td>{{ train.train_number }}</td>
        <td>{{ train.train_type }}</td>
        <td>{{ train.destination }}</td>
        <!-- <td>{{ train.arrival_time }}</td> -->
        <!-- <td>{{ train.departure_time }}</td> -->
        <td>{{ train.departure_time|time:"H:i" }}</td>
        <td>{{ train.platform }}</td>
        <td>{% if train.note != "nan" %}{{ train.note }}{% endif %}</td>
    </tr>
    {% endfor %}
</table>
